.guide-item a.scm {
  line-height: 20px !important;
  display: flex !important;
  width: 35px !important;
  height: 35px !important;
}
.rounded-circle {
  width: 100px; /* Adjust as necessary */
  height: 100px; /* Must be the same as width */
  border-radius: 50%;
  object-fit: cover; /* Ensures the image fills the circle without being distorted */
}

#testicat {
  color: black !important;
}
