@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

#hwhite:hover svg,
#hwhite:hover path {
  color: white !important;
}

#ke1 {
  font-family: "Poppins", sans-serif;
}

#ke2 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
}

#ke3 {
  font-family: "Merriweather", serif;
}

#carouselId .carousel-control-next-icon,
#carouselId .carousel-control-prev-icon {
  color: #fff !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  font-size: 20px !important;
}

#carouselId .carousel-control-next,
#carouselId .carousel-control-prev {
  color: #fff !important;
}

.national-info a:hover {
  color: white !important;
  font-size: 18px !important;
}

.national-item .national-plus-icon:hover svg {
  transform: scale(2) !important;
}

.national-item .national-plus-icon svg {
  transform: scale(1) !important;
  transition: 2s;
}

.video-wrap {
  z-index: 0 !important;
}

.carousel-caption {
  z-index: 1 !important;
}
